@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
      --header-height: 5.25rem;
/* =============COLORS======================== */
      /* color hexa */
      --first-color:#002939;
      --second-color:#DDC190;
      --third-color: #DAD9D9;
      --text-color:#323232;
      --white: #ffffff;
      --menu-shadow: rgba(0,0,0,.3);

/* =============FONT & TYPOGRAFI===============
.5rem = 8px 1rem = 16px */
      --biggest-font-size: 2.875rem;
      --h1-font-size: 2.125rem;
      --h2-font-size: 1.875rem;
      --h3-font-size: 1.625rem;
      --h4-font-size: 1.5rem;
      --h5-font-size: 1.25rem;
      --body-font-size: 1.125rem;
      --normal-font-size: 1rem;
      --small-font-size: .898rem;
      --smaller-font-size: .798rem;
      --icon-font-size: 1.5rem;
      --first-font: "Merriweather", serif;
      --second-font: "Open Sans", sans-serif;

      /*============== FONT WEIGHT====================== */
      --font-bold: 900;
      --font-semi-bold: 700;
      --font-regular: 400;

/* ==========================z-index=============== */
      --z-fixed: 100;
      --z-tooltip: 10;
}
/* =================== BASE ============================ */
* { 
      margin: 0;
      padding:0;
      box-sizing: border-box;
      user-select: none;
}
html {
      font-size: 65.5%;
}
body {
      font-family: "Open Sans", sans-serif;
      font-size: var(--body-font-size);
      overflow-x: hidden;
      color: var(--text-color);
      scroll-behavior: smooth;
}
h1, 
h2, 
h3,
h4,
h5 {
      font-family: var(--first-font);
      line-height: 1.5em;
      color: var(--text-color);
}
li {
      list-style: none;
}
a {
      text-decoration: none;
      font-family: var(--first-font);
      line-height: 180%;
}
p {
      line-height: 1.85em;
}
img {
      max-width: 100%;
      height: auto;
      display: block;
}

/* =============== REUSABLE CSS ================ */
.container {
      max-width: 1320px;
      margin-inline: 1.5rem;
}
.grid {
      display: grid;
}
.section {
      padding: 6.25rem 0;
}
/* font style */
.section__title {
      font-size: var(--h2-font-size);
      margin-bottom: 1rem;
      text-transform: capitalize;
}
.section__subtitle {
      font-size: var(--body-font-size);
}
.hero__headline {
      font-size: var(--biggest-font-size);
}
.banner__headline {
      font-size: var(--h1-font-size);
}
.promotion__card-title {
      font-size: var(--h2-font-size);
}
.service__card-title,
.footer__list-title, {
      font-size: var(--h3-font-size);
}
.navbar__brand,
.navbar__menu-icon,
.product__populer-title,
.product__arrival-title,
.product__arrival-card-price,
.blog__card-title,
.footer__data-brand,
.footer__data-icon {
      font-size: var(--h4-font-size);
}
.hero__desc,
.promotion__card-price,
.contact__form-label,
.footer__data-item {
      font-size: var(--h5-font-size);
}
.footer__list-item,
.blog__card-desc,
.promotion__card-lead,
.product__arrival-card-title,
.product__arrival-card-rate,
.navbar__menu-link,
.btn {
      font-size: var(--body-font-size);
}
.blog__card-date {
      font-size: var(--small-font-size);
}
.hero__headline,
.navbar__brand,
.product__arrival-card-title,
.product__arrival-card-price,
.promotion__card-title,
.blog__card-title,
.contact__form-label,
.footer__data-brand {
      font-weight: var(--font-bold);
}
.navbar__brand,
.footer__data-brand {
      text-transform: uppercase;
}
.btn,
.hero__headline,
.service__card-title,
.hero__lead,
.contact__form-label,
.footer__list-item {
      text-transform: capitalize;
}
.service__content,
.promotion__container,
.contact__content,
.footer__container {
      grid-template-columns: 320px;
}
.product__populer-list,
.product__arrival-list,
.blog__content {
      grid-template-columns: 240px;
}
.footer__list {
      grid-template-columns: repeat(2, 1fr);
}
.navbar__container,
.navbar__menu,
.navbar__menu-nav,
.navbar__menu-extra,
.hero__cta,
.service__card,
.service__card-btn,
.product__populer-category,
.product__populer-card-images,
.product__arrival-card-images,
.product__arrival-card-rate,
.promotion__card,
.contact__form-group,
.footer__data-info,
.footer__list-service,
.footer__list-info,
.footer__list-help,
.footer__list-address {
      display: flex;
}
.hero__container,
.service__container,
.banner__container,
.product__container,
.blog__container,
.contact__container,
.footer__container {
      gap: 6.25rem;
}
.service__content,
.product__populer,
.product__arrival,
.product__populer-list,
.product__arrival-list,
.promotion__container,
.blog__content,
.contact__content,
.footer__list,
.footer__data {
      gap: 3.25rem;
}
.navbar__menu-nav,
.contact__form,
.footer__data-info,
.footer__list-service,
.footer__list-info,
.footer__list-help,
.footer__list-address {
      gap: 1.5rem;
}
.hero__cta,
.service__card-btn,
.product__arrival-card-rate,
.contact__form-group {
      gap: .5rem;
}
.hero__container,
.hero__cta,
.service__content,
.promotion__container,
.banner__container,
.product__populer-list,
.product__arrival-list,
.product__populer-card-images,
.product__arrival-card-images,
.blog__content,
.contact__content,
.footer__container {
      justify-content: center;
}
.service__card,
.product__populer-category,
.promotion__card {
      justify-content: space-between;
}
.service__card,
.product__populer-category,
.product__populer-card-images,
.product__arrival-card-images,
.promotion__card {
      align-items: center;
}
.hero__data,
.banner__data {
      align-self: center;
}
.header {
      position: fixed;
}
.hero,
.hero__images,
.banner__images,
.product__populer-card-data,
.product__arrival-card-data,
.promotion__card-price span {
      position: relative;
}
.hero img,
.hero:after,
.banner img,
.product__populer-card-btn,
.product__arrival-card-btn,
.promotion__card-price span::after {
      position: absolute;
}
.service__card,
.promotion__card {
      padding: 1.5rem;
}
.btn {
      padding: 1em 1.5em;
}
.hero__headline,
.product__populer-card-images,
.product__arrival-card-images,
.product__arrival-card-rate,
.blog__card img,
.blog__card-title,
.blog__card-desc {
      margin-bottom: 1.5rem;
}
.hero__desc,
.service__card-title,
.banner__headline,
.promotion__card-title {
      margin-bottom: 3.25rem;
}
.service__card-lead,
.banner__lead,
.product__arrival-card-title,
.promotion__card-lead {
      margin-bottom: .5rem;
}
.service__card,
.promotion__card {
      border-radius: .3rem;
}
.hero__data,
.service__header,
.banner__data,
.product__header,
.product__populer-card-label,
.blog__header,
.contact__header {
      text-align: center;
}
.hero__headline,
.navbar__brand span,
.banner__headline span,
.promotion__card-price,
.footer__data-brand span {
      color: var(--second-color);
}
.navbar__brand,
.navbar__menu-link,
.navbar__menu-icon,
.hero__desc,
.service__card-title,
.service__card-lead,
.banner__headline,
.banner__lead,
.product__populer-card-label,
.promotion__card-lead,
.promotion__card-title,
.promotion__card-price span,
.footer__list-title,
.footer__list-item,
.footer__data-brand,
.footer__data-item,
.footer__data-icon {
      color: var(--white);
}
.service__card,
.banner__container,
.product__arrival-card-images,
.product__populer-card-label,
.promotion__card,
.footer {
      background: var(--first-color);
}
.contact__form-group,
.footer__data-info,
.footer__list-service,
.footer__list-info,
.footer__list-help,
.footer__list-address {
      flex-direction: column;
}
/* ============================= HEADER & NAVBAR ======================== */
.header {
      top: 0;
      left: 0;
      right: 0;
      z-index: var(--z-fixed);
}
.navbar__container {
      height: var(--header-height);
      align-items: center;
}
.navbar__menu {
      margin-left: auto;
      align-items: center;
}
/* mobile reponsive */
@media screen and (max-width: 1130px) {
      .navbar__menu-nav {
            padding: 7rem 0 0 4rem;
            width: 50%;
            height: 100vh;
            background: var(--white);
            position: absolute;
            top: 100%;
            right: -100%;
            flex-direction: column;
      }
      .navbar__menu-link {
            color: var(--first-color);
      }
}
.navbar__menu-extra {
      gap: 1.5rem;
}
/* ===================== HERO ======================================== */
.hero:after {
      content: '';
      display: block;
      width: 100%;
      height: 85%;
      top: 0;
      left: 0;
      background: var(--first-color);
      z-index: -100;
}
.hero__container {
      height: 820px;
}
.hero img {
      right: 0;
}
.hero img:nth-child(1) {
      bottom: 0;
}
.hero img:nth-child(2) {
      width: 80px;
      top: -30%;
}
/* ========================== button ================================= */
.btn {
      background: transparent;
      border: 2px solid var(--second-color);
      border-radius: .3rem;
      color: var(--second-color);
      font-family: var(--first-font);
}
/* ======================== SERVICE ================================== */
.service__card img {
      width: 120px;
}
/* ============== BANNER =========================================== */
.banner__container {
      height: 320px;
      overflow: hidden;
}
.banner img {
      bottom: -25%;
      right: 0;
}
/* ================ PRODUCT ========================================== */
.product__populer-btn {
      padding: .5rem;
      border-radius: 50%;
}
.product__populer-card-images,
.product__arrival-card-images {
      height: 160px;
}
.product__populer img,
.product__arrival img {
      width: 80px;
}
.product__populer-card-images {
      border: 2px solid var(--first-color);
}
.product__populer-card-label {
      width: 80px;
      padding: .3em 0;
}
.product__populer-card-btn,
.product__arrival-card-btn {
      width: 40px;
      height: 40px;
      padding: 0;
      bottom: 0;
      right: 0;
}
.product__arrival-card-rate {
      color: yellow;
}
/* ====================== PROMOTION =================================== */
.promotion__card img {
      width: 120px;
}
.promotion__card-price span {
      margin-right: 1.5rem;
}
.promotion__card-price span::after {
      content: '';
      display: block;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background: var(--white);
}
/* ====================== contact ==================================== */
.contact__form-label {
      font-family: var(--first-font);
}
.contact__form-input {
      padding: 1rem;
      border: none;
      outline: none;
      background: rgba(218, 217, 217, 1);
}
.contact__form textarea {
      height: 120px;
}
.contact__form-btn {
      width: 100%;
}
/* =============================== MEDIA QUERIES ======================= */
/* small device */
@media screen and (max-width: 430px) {
      html {
            font-size: 45.5%;
      }
      .hero__container {
            height: 540px;
      }
      .hero__cta {
            flex-direction: column;
            gap: 1.5rem;
      }
      .hero img:nth-child(2) {
            width: 40px;
      }
      .service__content,
      .promotion__container,
      .contact__content,
      .footer__container {
            grid-template-columns: 240px;
      }
      .service__card img,
      .promotion__card img {
            width: 80px;
      }
      .banner__container {
            height: 220px;
      }
}
/* medium device */
@media screen and (min-width: 576px) {
      .service__content,
      .promotion__container,
      .footer__container,
      .contact__content {
            grid-template-columns: 480px;
      }
      .product__populer-list,
      .product__arrival-list,
      .blog__content {
            grid-template-columns: 320px;
      }
      .footer__list {
            grid-template-columns: repeat(4, 1fr);
      }
}
@media screen and (min-width: 768px) {
      .product__populer-list,
      .product__arrival-list,
      .blog__content {
            grid-template-columns: repeat(2,320px);
      }
}
@media screen and (min-width: 1130px) {
      html {
            font-size: 70.5%;
      }
      .navbar__menu,
      .navbar__menu-nav,
      .navbar__menu-extra {
            gap: 3.25rem;
      }
      .hero__container,
      .banner__container,
      .promotion__container {
            grid-template-columns: repeat(2, 450px);
      }
      .hero__data,
      .banner__data {
            text-align: inherit;
      }
      .hero__container {
            height: 520px;
      }
      .hero__desc {
            margin-bottom: 6.25rem;
      }
      .hero__cta {
            justify-content: inherit;
      }
      .hero img:nth-child(1) {
            bottom: -10%;
      }
      .hero img:nth-child(2) {
            width: 100px;
            top: 20%;
      }
      .footer__container {
            grid-template-columns: 300px 600px;
      }
}
@media screen and (min-width: 1320px) {
      html {
            font-size: 100%;
      }
      .container {
            margin-inline: auto;
      }
      .hero__container,
      .banner__container,
      .promotion__container,
      .contact__content {
            grid-template-columns: repeat(2, 1fr);
      }
      .service__content {
            grid-template-columns: repeat(3, 1fr);
      }
      .footer__container {
            grid-template-columns: 1fr 2fr;
      }
      .product__populer-list,
      .product__arrival-list,
      .blog__content {
            grid-template-columns: repeat(4, 1fr);
      }
      .banner__container {
            padding: 0 3.25rem;
      }
      .service__content,
      .promotion__container,
      .product__populer-list,
      .product__arrival-list {
            column-gap: 1.5rem;
      }
      .product__populer-card-images,
      .product__arrival-card-images {
            height: 261px;
            padding: .5em;
      }
      .blog__card img {
            height: 261px;
            object-fit: cover;
      }
      .promotion__card img,
      .service__card img {
            width: 160px;
      }
      .product__populer img,
      .product__arrival img {
            width: 140px;
      }
      .hero__container {
            height: 660px;
      }
      .hero img:nth-child(2) {
            top: 10%;
      }
      .product__populer-card-btn,
      .product__arrival-card-btn {
            width: 80px;
            height: 80px;
      }
}